<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909650163199-jflou2drumlcgoecbt9veuk4a98qvuuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909650163199-jflou2drumlcgoecbt9veuk4a98qvuuf</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAxSjLbo3lvDPFPi1ENhqCW8mNEGF2eA</string>
	<key>GCM_SENDER_ID</key>
	<string>909650163199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-1a120</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-1a120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909650163199:ios:11987b55570ac426dfa3ca</string>
</dict>
</plist>