<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909650163199-qn9fum9t4q4nkd754edaa6ani43iumjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909650163199-qn9fum9t4q4nkd754edaa6ani43iumjh</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAxSjLbo3lvDPFPi1ENhqCW8mNEGF2eA</string>
	<key>GCM_SENDER_ID</key>
	<string>909650163199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-1a120</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-1a120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909650163199:ios:1222f722d0dd26a2dfa3ca</string>
</dict>
</plist>